/* CSS Document */

body {
	height: 97%;
	padding: 0;
	margin: 0;
	text-align: center;
	font-family: Arial;
}

.tablaGeneral {
	width: 975px;
	height: 100%;
	border-collapse: collapse;
	padding: 0;
	margin: 0 auto;
}

.tablaGeneral td {
	padding: 0;
	margin: 0;
}

.bordeSup {
	height: 130px;
	text-align: center;
	background: url(../imgs/imgBordeSup.jpg) no-repeat center top;
}

.bordeInf {
	background: url(../imgs/imgBordeInf.jpg) no-repeat center top;
}

.encabezado {
	width: 900px;
	margin: 0 auto;
	border-collapse: collapse;
}

.titPag {
	font-family: Arial Narrow, Arial, Tahhoma, sans-serif;
	font-size: 27px;
	color: #f46600;
	text-transform: uppercase;
}

.titPagNegro {
	font-family: Arial Narrow, Arial, Tahhoma, sans-serif;
	font-size: 27px;
	color: #000000;
	text-transform: uppercase;
}


.franjaInstru {
	border-top: solid 3px #f56600;
	font-family: Arial, Tahhoma, sans-serif;
	font-size: 26px;
	color: #002469;
	/*font-weight: bold;*/
	/*text-align: right;*/
}

.franjaNegra {
	border-top: solid 3px #000000;
}

.contenido {
	/*height: 100%;*/
	vertical-align: top;
	text-align: center;
	background: #ffffff url(../imgs/imgFondoPag.jpg) repeat-y center top;
}

.tablaInterior {
	width: 900px;
	margin: 10px auto;
	font-family: Arial, sans-serif;
}

body {
	font-family: Arial, sans-serif !important;
}

.tablaInteriorBorde {
	width: 900px;
	margin: 10px auto;
}

.tablaInteriorBorde td {
	border-left: solid #ffffff 5px;
}

.tablaInteriorFondo1 {
	width: 900px;
	margin: 10px auto;
	background: url(../imgs/imgFondo1.gif) no-repeat bottom left;
}

.tablaInteriorFondo2 {
	width: 900px;
	margin: 10px auto;
	background: url(../imgs/imgFondo2.gif) no-repeat bottom left;
}

.tablaInteriorFondo3 {
	width: 900px;
	margin: 10px auto;
	background: url(../imgs/imgFondo3.gif) no-repeat bottom left;
}

.tablaInteriorFondo4 {
	width: 900px;
	margin: 10px auto;
	background: url(../imgs/imgFondo4.gif) no-repeat bottom left;
}

.franjaTitulo {
	height: 30px;
	background-color: #003366;
	font-family: Arial, Tahhoma, sans-serif;
	font-size: 20px;
	color: #ffffff;
	text-indent: 10px;
}

.tdfondoAcc {
	width: 300px;
	height: 380px;
	background-color: #eaeaea;
	text-align: center;
	vertical-align: top;
}

.tdfondoBotones {
	height: 400px;
	background: #eaeaea url(../imgs/fondoBotones.gif) no-repeat center;
	text-align: center;
	vertical-align: middle;
}

.tdfondoMapa1 {
	width: 300px;
	height: 400px;
	background: #eaeaea url(../imgs/fondoMapa1.gif) no-repeat center;
	text-align: center;
	vertical-align: middle;
}

.tdfondoMapa2 {
	width: 300px;
	height: 400px;
	background: #eaeaea url(../imgs/fondoMapa2.gif) no-repeat center;
	text-align: center;
	vertical-align: middle;
}

.tdfondoMapa3 {
	width: 300px;
	height: 400px;
	background: #eaeaea url(../imgs/fondoMapa3.gif) no-repeat center;
	text-align: center;
	vertical-align: middle;
}

.tablaNumeros {
	margin-top: 10px;
}

.campoGrandeRut {
	width: 430px;
	border: #d4d4d4 solid 1px;
	background-color: transparent;
	font-family: Arial, Tahhoma, sans-serif;
	font-size: 70px;
	color: #003366;
	font-weight: bold;
	text-align: right;
}

.campoGrandeClave {
	width: 200px;
	border: #d4d4d4 solid 1px;
	background-color: transparent;
	font-family: Arial, Tahhoma, sans-serif;
	font-size: 70px;
	color: #47596a;
	font-weight: bold;
	text-align: center;
}

.mensaje {
	font-family: Arial, Tahhoma, sans-serif;
	font-size: 28px;
	color: #003366;
	font-weight: bold;
}

.txtAzul {
	font-family: Arial, Tahhoma, sans-serif;
	font-size: 20px;
	color: #002469;
	font-weight: bold;
}

.txtNaranjo {
	font-family: Arial, Tahhoma, sans-serif;
	color: #f46600;
	font-weight: bold;
}

.imgLink {
	cursor: pointer;
}

.botonNaveg {
	cursor: pointer;
	margin-top: 20px;
}

.botonAcc {
	cursor: pointer;
	margin: 10px 20px;
}

.tablaBancos {
	font-family: Arial, Tahhoma, sans-serif;
	font-size: 15px;
	color: #000000;
	border-collapse:collapse;
	border: 1px solid #adb9d4;
	margin-top: 10px;
}

.tablaBancos tbody tr td {
	padding: 5px;
	border: 1px solid #adb9d4;
}

.tablaBancosEncab {
	font-weight: bold;
	color: #003366;
	background-color: #d5dded;
	text-align: center;
}

.tablaCertif {
	width: 90%;
	font-family: Arial, Tahhoma, sans-serif;
	font-size: 11px;
	color: #000000;
	border-collapse: collapse;
}

.tablaCertif td {
	padding: 2px;
	border: 1px solid #000000;
}

.tablaCertifEncab {
	font-weight: bold;
	color: #000000;
	background-color: #dbdbdb;
	text-align: center;
}

.tablaCertifCont {
	width: 90%;
	font-family: Arial, Tahhoma, sans-serif;
	font-size: 11px;
	color: #000000;
	border-collapse: collapse;
	border: 1px solid #000000;
}

.tablaCertifCont td {
	padding: 3px;
	border: none;
}

.tablaCertifSinBorde {
	width: 90%;
	font-family: Arial, Tahhoma, sans-serif;
	font-size: 11px;
	color: #000000;
	border-collapse: collapse;
}

.tablaCertifSinBorde td {
	padding: 3px;
}

.tablaCertifSimple {
	width: 90%;
	font-family: Arial, Tahhoma, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	text-align: center;
}

.label {
	font-weight: bold;
}

.trPar {
	background-color: #eeeeee;
}

.dataTables_info {
    width: 400px;
}

.dataTables_wrapper .dataTables_filter {
    margin-top: 10px;
}

.dt-buttons {
    margin-bottom: 10px;
    margin-left: 1px;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.right {
  float: left;
}
